.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.tooltip {
	position: absolute;
	font-size: 12px;
	width:  auto;
	height: auto;
	pointer-events: none;
	background-color: Snow;
}

h1 {
	font-family: sans-serif;
	font-size: 30px;
	color: red;
}
